<?xml version="1.0" encoding="UTF-8"?>
<phpunit beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Mito Coding Standards Test Suite">
            <file>tests/AllTests.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src/Application</directory>
            <directory suffix=".php">src/Others</directory>
            <directory suffix=".php">src/Views</directory>
            <directory suffix=".php">src/ViewsAlternate</directory>
            <directory suffix=".php">src/ViewsMixed</directory>
        </whitelist>
    </filter>
</phpunit>
