<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Mito Yii 2 Coding Standards Test Suite">
            <file>tests/AllTests.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Application</directory>
            <directory suffix=".php">Others</directory>
            <directory suffix=".php">Views</directory>
            <directory suffix=".php">ViewsAlternate</directory>
            <directory suffix=".php">ViewsMixed</directory>
        </whitelist>
    </filter>
</phpunit>
